{% extends "base.html" %}

{% block title %}Nuova password{% endblock %}

{% block content %}
    <div cass="card">
        <h1>Imposta una nuova password</h1>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="button" type="submit">
                    Salva nuova password
                </button>
            </form>
        {% else %}
            <p>Il link di reset non è valido o è scaduto.</p>
        {% endif %}
    </div>
{% endblock %}