{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="card">
    <h1>I miei oggetti</h1>
    <p>Qui puoi vedere lo stato delle tue proposte.</p>

    <a class="button" href="{% url 'proposal_create' %}">Proponi un nuovo oggetto</a>
</div>

<div class="proposal-grid">
    {% for proposal in proposals %}
        <div class="card">
            <h2>{{ proposal.title }}</h2>

            <p>
                Stato:
                <span class="badge">{{ proposal.get_status_display }}</span>
            </p>

            {% if proposal.requested_price %}
                <p>Prezzo richiesto: € {{ proposal.requested_price }}</p>
            {% endif %}

            {% if proposal.admin_offer %}
                <p>Offerta ricevuta: € {{ proposal.admin_offer }}</p>
            {% endif %}

            <a class="button secondary" href="{% url 'proposal_detail' proposal.pk %}">
                Vedi dettagli
            </a>
            {% if proposal.admin_offer and proposal.status == "offer_sent" and not proposal.offer_seen_by_user %}
                <p><strong>Hai ricevuto un'offerta. Apri i dettagli per rispondere.</strong></p>
            {% endif %}
        </div>
    {% empty %}
        <div class="card">
            <p>Non hai ancora inviato nessuna proposta.</p>
        </div>
    {% endfor %}
</div>
{% endblock %}