{% extends "base.html" %}

{% block title %}{{ proposal.title }}{% endblock %}

{% block content %}
{% if proposal.status != "rejected" and proposal.status != "completed" %}
    <div class="card">
        <h2>Trattativa</h2>
        {% if proposal.status == "under_review" %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="mark_negotiation">
                <button class="button" type="submit">Metti in trattativa</button>
            </form>
        {% endif %}

        {% if proposal.status != "rejected" and proposal.status != "completed" %}
            <form method="post" style="margin-top:15px">
                {% csrf_token %}
                <input type="hidden" name="action" value="reject">
                <button class="button" type="submit">Rifiuta proposta</button>
            </form>
        {% endif %}
        
        {% if proposal.status == "vinted_link_sent" %}
            <form method="post" style="margin-top:15px">
                {% csrf_token %}
                <input type="hidden" name="action" value="complete">
                <button class="button" type="submit">Segna completato</button>
            </form>
        {% endif %}
    </div>
{% endif %}

<div class="card">
    <h1>{{ proposal.title }}</h1>

    <p>
        Stato:
        <span class="badge {{ proposal.status_badge_class }}">{{ proposal.get_status_display }}</span>
    </p>

    <p>{{ proposal.description }}</p>

    {% if proposal.requested_price %}
        <p>Prezzo richiesto: € {{ proposal.requested_price }}</p>
    {% endif %}

    {% if proposal.admin_offer %}
        <p><strong>Offerta ricevuta:</strong> € {{ proposal.admin_offer }}</p>
    {% endif %}

    {% if proposal.images.all %}
        <h3>Foto</h3>
        {% for image in proposal.images.all %}
            <img class="image-preview clickable-image" src="{{ image.image.url }}" alt="{{ proposal.title }}" data-full="{{ image.image.url }}">
        {% endfor %}
    {% endif %}
</div>

<div class="card">
    <h2>Offerta admin</h2>

    {% if proposal.status == "offer_accepted" or proposal.status == "vinted_link_sent" or proposal.status == "completed" %}
        {% if proposal.admin_offer %}
            <p><strong>Offerta inviata:</strong> € {{ proposal.admin_offer }}</p>
        {% else %}
            <p>Nessuna offerta inserita.</p>
        {% endif %}

        <p>Questa offerta non è più modificabile perché la trattativa è già avanzata.</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="send_offer">
            {{ offer_form.as_p }}

            <button class="button" type="submit">Invia offerta</button>
        </form>
    {% endif %}
</div>

<div class="card">
    <h2>Messaggi</h2>

    <div class="chat-box">
        {% for message in proposal.messages.all %}
            {% if message.sender == request.user %}
                <div class="chat-row chat-row-own">
                    <div class="chat-bubble chat-bubble-own">
                        <div class="chat-meta">
                            Tu · {{ message.created_at|date:"d/m/Y H:i" }}
                        </div>
                        <div class="chat-text">
                            {{ message.body }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="chat-row chat-row-other">
                    <div class="chat-bubble chat-bubble-other">
                        <div class="chat-meta">
                            {{ message.sender.username }} · {{ message.created_at|date:"d/m/Y H:i" }}
                        </div>
                        <div class="chat-text">
                            {{ message.body }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            <p>Non ci sono ancora messaggi.</p>
        {% endfor %}
    </div>

    <form method="post" class="chat-form">
        {% csrf_token %}
        <input type="hidden" name="action" value="send_message">
        {{ message_form.body }}

        <button class="button"  type="submit"> Invia </button>
    </form>
</div>

{% if proposal.vinted_url %}
    <div class="card">
        <h2>Link Vinted inviato</h2>
        <p>
            <a href="{{ proposal.vinted_url }}" target="_blank">
                Apri annuncio Vinted
            </a>
        </p>
    </div>
{% endif %}
{% endblock %}